---
import "../styles/global.css";
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MySweets AI</title>
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>
  </body>
</html>